.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-top: 24px;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: #29bdc1;
}
